.App {
  font-family: sans-serif;
  text-align: center;
}
#open-source a {
  color: black;
}

#open-source a:hover {
  text-decoration: underline;
}

#open-source {
  text-align: center;
  color: white;
}
body {
  background: url(/images/blue-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
a {
  text-decoration: none;
}
li {
  text-transform: capitalize;
}
