.WeatherForecast {
  text-align: center;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 50px;
  background-color: white;
  opacity: 0.7;
}

.WeatherForecast-low {
  opacity: 0.5;
  margin-left: 5px;
}
